@page "/parent"
@using UniversalComponent
@* @rendermode InteractiveAuto *@

<PageTitle>Home</PageTitle>
<Alert Show="showAlert" OnOk="@(() => showAlert = false)">
    <ChildContent>
        <h1>Alert</h1>
        <p>Today is @DateTime.Now.DayOfWeek.</p>
    </ChildContent>
</Alert>

@if (!showAlert)
{
    <button @onclick="ShowAllerFunc">
        Show Alert

    </button>
}

@code {
    public bool showAlert = false;

    public void ShowAllerFunc()
    {
        showAlert = true;

    }
}