<!-- Directive  heare-->


<!-- Html Markup -->

@if (Show)
{
    <div>
        <div>
            <div>
                @ChildContent
            </div>
            <div>
                <button @onclick="OnOk">
                    OK

                </button>
            </div>
        </div>
    </div>
}


<!-- Code block hear -->

@code {
    [Parameter] public bool Show { get; set; }
    [Parameter] public EventCallback OnOk { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
}
